body{
    margin:0;
    background-color: #61C0BF;
}
h1{
    text-align:center;
    margin-top: 50px;
    color:#112D4E;
}
#container{
    position:relative;
    background:url(../clock.png) no-repeat;
    background-size:100%;
    width:60vh;
    height:60vh;
   
    margin:auto;
    margin-top:90px;
}
#hour , #minute , #second{
    position:absolute;
    background-color:black;
    border-radius:10px;
    transform-origin: bottom;
}
#hour{
    width: 2.5%;
    height: 18%;
    top: 32%;
    left: 47.7%;
    background-color: #112D4E;
    opacity: 0.8;
}

#minute{
    width: 2%;
    height: 28%;
    top: 22%;
    left: 47.7%;
    background-color: #3F72AF;
    opacity: 0.8;
    
}

#second{
    width: 1.5%;
    height: 33%;
    top: 17%;
    left: 47.8%;
    background-color: #DBE6FD;
    opacity: 0.8;
}